@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,600&display=swap');

* {
  font-family: Montserrat, Helvetica, sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  background-color: silver;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  font-size: 2.7rem;
}

input {
  font-size: 1.5rem;
  height:50px;
  color:rgb(89, 173, 92);
  border-radius: 16px;
  padding:.5rem;
  margin-top: 1rem;
  border:none;
  width:200px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(135, 255, 175, 0.5);
}

button {
  width:80px;
  height:50px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color:rgb(79, 167, 53);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
  color:white;
  padding:.5rem;
  margin-left: 1rem;
  border-radius: 12px;
  border:none;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

button:focus {
  outline:none;
  box-shadow: 0 0 10px 0 rgba(83, 185, 117, 0.7);
  
}

button:hover {
  font-size: 1.3rem;
  font-weight: 700;
  background-color: rgb(119, 199, 66);
  color: rgb(24, 24, 24);
}

p {
  color:darkgray;
}

span {
  display: inline-block;
}

.header-nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:2rem;
  width:100%;
  height:100px;
  background-color: rgb(89, 173, 92);
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.user-nav {
  font-size: 1.2rem;
  margin:.3rem;
  color:white;
  padding:.5rem;
  font-weight: 400;
  cursor: pointer;
}

.user-nav:hover {
  font-size: 1.2rem;
  margin:.3rem;
  color:black;
  padding:.5rem;
  font-weight: 400;
  cursor: pointer;
}

.user-nav-active {
  font-size: 1.2rem;
  margin:.3rem;
  color:white;
  background-color: rgba(0, 0, 0, .2);
  padding:.5rem;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
}

.main {
  height:80vh;
  width:100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-card {
  width:300px;
  height:400px;
  background-color: white;
  border-radius: 20px;
  padding:1rem;
  font-size: 1.5rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
  
}

.container {
  padding:.4rem;
  height:390px;
  overflow: auto;
}

.msg-item {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:.5rem;
  font-size: 1.3rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
  color:rgb(89, 173, 92);
  padding:.6rem;
  border-radius: 15px;
}

.msg-item-user {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:.5rem;
  font-size: 1.3rem;
  text-align: right;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
  color:rgb(89, 173, 92);
  padding:.6rem;
  border-radius: 15px;
}

.user {
  font-size: 1rem;
  color: silver;
  display: inline-block;
}

.display-user {
  display: inline-block;
  width:300px;
  font-weight: bold;
  padding:.6rem;
  color:rgb(89, 173, 92);
  font-size: 1.5rem;

}

.strong {
  font-size: 1.2rem;
  font-weight: bold;
}
.delete-msg {
  font-size: 1rem;
  cursor: pointer;
}

.description {
  color:rgb(218, 127, 127);
}

@media(max-width:375px){
  h1{
    line-height: 2rem;
    font-size: 2.5rem;
  }

  .header-nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    width:100%;
    height:100px;
    background-color: rgb(89, 173, 92);
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  } 
  .main{
    height:70vh;
  }

  .strong {
    font-size: 1rem;
    font-weight: bold;
  }

  .user-nav {
    display:flex;
    font-size: 1rem;
    margin:0;
    padding:.3rem;
    color:white;
    font-weight: 400;
    cursor: pointer;
  }

  .user-nav-active {
    display:flex;
    font-size: 1rem;
    margin:0;
    color:white;
    background-color: rgba(0, 0, 0, .2);
    padding:.3rem;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
  }

  .user-nav:hover {
    font-size: 1rem;
    margin:0;
    color:black;
    padding:.3rem;
    font-weight: 400;
    cursor: pointer;
  }
  
}